body {
  width: 400px;
  height: 100%;
  margin: 0;
  font-family: 'sans-serif', sans-serif;
}

table {
  border: none;
}

th{
  font-weight: normal;
  padding: 4px;
}

td{
  padding: 3px;
}

svg {
  width: 24px;
  height: 32px;
  fill: rgba(89, 98, 117, 1.0);
}

[data-id="tab4"] {
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}

[data-id="tab5"] {
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}

.tab-container {
  background-color: rgba(48, 57, 82, 1.0);
  padding: 3%;
}

.tab-menu ul {
  margin: 0;
  padding: 0;
}

.tab-menu ul li {
  display: inline-block;
}

.tab-menu ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(120, 111, 166, 1.0);
  padding: 7px 21px;
  border-radius: 4px;
}

.tab-menu ul li a.active-a {
  background-color: rgba(87, 75, 144, 1.0);
  color: rgba(255, 255, 255, 0.9);
}

.tab {
  display: none;
}

.tab p {
  color: rgba(255, 255, 255, 0.9);
}

.tab-active {
  display: block;
}

#milk-status {
  margin-top: 20px;
}

#orders {
  margin-top: 20px;
  width: 376px;
  border-radius: 4px;
  background-color: rgba(89, 98, 117,1.0);
}

#orders tr:nth-child(1) {
  background-color: rgba(120, 111, 166,1.0);
  color: rgba(255, 255, 255, 0.9);
}

#orders tr:not(:nth-child(1)):hover {
  background-color: rgba(207, 106, 135,1.0);
  cursor: pointer;
}

#orders th {
  cursor: pointer;
}

#glue42-tab-group {
  margin-top: 20px;
  font-size: 16px;
  background-color: rgba(120, 111, 166,1.0);
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
}

#glue42-tab-group:hover {
  background-color: rgba(207, 106, 135,1.0);
}

#air-conditioner-temperature {
  margin-top: 20px;
  font-size: 16px;
  width: 121px;
  background-color: rgba(120, 111, 166,1.0);
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.9);
}

#air-conditioner-temperature:focus {
  background-color: rgba(207, 106, 135,1.0);
}
